* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "sans-serif";
  background-color: #121212;
}

.container {
  padding: 4vh;
  height: 100vh;
}

.sub-container {
  display: flex;
  /* border: 4px solid green; */
  border-radius: 1.2rem;
  overflow: hidden;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background-color: #009c9b;
  /* background-image: url("assets/cheese-platter-image.jpg") cover no-repeat; */
  padding: 1.5rem;
  height: 92vh;
}

.welcome-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255);
}

.left h1 {
  opacity: 0.8;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.left p {
  opacity: 0.66;
}

.login-form {
  text-align: center;
  border: 2px solid white;
  height: 45vh;
  width: 30rem;
  background-color: #1e2731;
  padding: 2rem 3rem;
  border: none;
  border-radius: 0.3rem;
}

.login-form h2 {
  text-align: left;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1px;
}

.login-form a {
  text-decoration: none;
  color: #009c9b;
  font-weight: bold;
}

.login-form input {
  display: block;
  height: 2rem;
  margin-bottom: 1.2rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  color: rgba(255, 255, 255, 0.66);
  border: none;
  border-radius: 0.25rem;
  text-indent: 8px;
  font-family: "Montserrat", "sans-serif";
}

.login-form p {
  color: rgba(255, 255, 255, 0.66);
  text-align: right;
  font-size: 0.9rem;
}

.login-form button {
  width: 100%;
  height: 2rem;
  background-color: #009c9b;
  border: none;
  border-radius: 0.25rem;
  font-family: "Montserrat", "sans-serif";
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  /* background-color: green; */
  padding: 2rem;
  height: 92vh;
  background-color: #12171d;
}

@media screen and (max-width: 768px) {
  .sub-container {
    flex-direction: column;
    height: 92%;
  }

  .login-form {
    height: 80%;
  }

  .left {
    height: 2rem;
  }

  .left h1 {
    font-size: 2rem;
  }

  .forgot-password {
    text-align: left;
    font-size: 0.4rem;
  }

  .login-form {
    padding: 1rem 2rem;
  }

  .right {
    flex: 1;
  }
}
